.main-area-box {
  /* display: block;
    padding-top:40px;
    padding-left: 50px;
    height: 350px;
    width: 90%;
    border: 1px solid #000;
    border-radius: 25px; */

  width: 90%;
  border: 1px solid red;
  padding: 5px;
  margin: 20px auto;
}

.main-area-column {
  display: flex;
  /* justify-content: center; */
  overflow-x: scroll;
  /* flex-wrap: wrap; */
}
.main-sub-box {
  /* margin: 5px;
    height: 280px;
    width: 180px;
    border: 1px solid #000;
    border-radius: 15px; */

  border: 1px solid purple;
  margin: 5px;
  padding: 5px;

  display: flex;
  flex-direction: column;
}

.book-text {
  /* position: relative;
    z-index: 99;
    bottom: -90px;
    left: 10%;
    color: #000; */
}
.grid-text {
  /* padding-bottom: 10px;
      position: relative;
      bottom: 0px;
      padding-right: 50px;
      display: block; */
}

.book-text > .book-title {
  /* font-weight: bold; */
}
.price {
  /* position: relative; */
  /* width: 89%;
  height: 30px; */
  text-align: center;
  font-size: 150%;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #869960;
  border-radius: 0px 0px 15px 15px;
  /* left: 10px;
  bottom: -145px;
  align-content: center; */
  margin-top: auto;
}
.cover-pic {
  /* padding: 10px;
  width: 100px;
  height: 100px;
  position: relative;
  box-sizing: border-box; */
  border: 1px solid green;
}

.cover-pic img {
  width: 160px;
  height: 240px;
  position: relative;
  object-fit: contain;
}

@media only screen and (max-width: 978px) {
  .cover-pic img {
    width: 100px;
    height: 150px;
  }
}
